@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
* {
 box-sizing: border-box;
 font-family: "Viaoda Libre", cursive;
}
body {
 background-color: rgba(42, 41, 44, 0.849);
 margin: 0;
 padding: 0;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.choice-container {
 display: flex;
 flex-wrap: wrap;
 margin: 3%;
}

.choice {
 border: 4px solid rgb(238, 236, 236);
 border-radius: 25px;
 width: 100px;
 height: 100px;
 margin: 3px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(136, 132, 219, 0.007);
 color: white;
 cursor: pointer;
 transition: 0.3s all;
}
.choice:hover img {
 transform: scale(1.05);
}
.choice:hover {
 box-shadow: 1px 1px 1px rgb(17, 17, 17);
 border: 3px solid rgb(196, 151, 172);
}
.computer-choice {
 cursor: not-allowed;
}
.result-container {
 display: flex;
}
.result-container div {
 height: 300px;
 width: 300px;
 padding: 20px;
 text-align: center;
 background-color: aliceblue;
 margin: 2%;
}
.overlay {
 position: absolute;
 display: none;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: rgba(0, 0, 0, 0.623);
 width: 100%;
 height: 100%;
 color: rgb(148, 47, 47);
}
.choosen {
 border: 10px solid red;
}
.not-allowed {
 cursor: not-allowed;
}
.neticeler {
 display: flex;
}
button {
 padding: 10px;

 border: 1px solid transparent;
 background-color: violet;
 color: rgb(255, 255, 255);
 border-radius: 5px;
 cursor: pointer;
 transition: 0.2s all;
}
button:hover {
 box-shadow: 1px 1px 1px rgb(17, 17, 17);
}
p,
h1,
h6,
div {
 color: rgb(206, 216, 216);
}
