@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
* {
 box-sizing: border-box;
 font-family: "Viaoda Libre", cursive;
 color: rgb(206, 216, 216);
}
body {
 background-color: rgba(42, 41, 44, 0.849);
 margin: 0;
 padding: 0;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.choice-container {
 display: flex;
 flex-wrap: wrap;
 margin: 3%;
}

.choice {
 border: 4px solid rgb(238, 236, 236);
 border-radius: 25px;
 width: 100px;
 height: 100px;
 margin: 3px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(136, 132, 219, 0.007);
 color: white;
 cursor: pointer;
 transition: 0.3s all;
}
.choice img {
 transition: 0.3s all;
}
.choice:hover img {
 transform: scale(1.2);
}
.choice:hover {
 box-shadow: 1px 1px 2px rgb(17, 17, 17);
 border: 3px solid rgb(196, 151, 172);
}
.computer-choice {
 cursor: not-allowed;
}

.choice-images {
 display: flex;
}
.result-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 300px;
}
.new-game {
 padding: 10px;
 border: 1px solid transparent;
 background-color: violet;
 color: rgb(0, 0, 0);
 border-radius: 5px;
 cursor: pointer;
 transition-timing-function: ease-out;
 transition: 0.2s all;
 letter-spacing: 1px;
 font-size: 1em;
}
.new-game:hover {
 box-shadow: 1px 1px 1px rgb(17, 17, 17);
 transform: scale(1.05);
}
.instant-result {
 text-align: center;
}
